/* Styling for the heading */
h1 {
    background-color: rgb(231, 231, 231);
    color: green;
    font-size: xx-large;
    padding: 2%;
}

/* Style for the card and border */
.card {
    min-width: 30%;
    width: 50vh;
    min-height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
    background-color: white; /* Adding white background to the card */
}

/* Font and display style for complete body */
body {
    display: flex;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: green; /* Adding green background to the body */
    justify-content: center; /* Centering content horizontally */
    align-items: center; /* Centering content vertically */
    height: 100vh; /* Setting height to full viewport height */
    margin: 0; /* Removing default margin */
}

/* Adding style for input box */
input {
    width: 30px;
    padding: 1%;
    font-size: larger;
    text-align: center;
    margin-left: 2%;
}

/* Adding style for display word*/
#displayWord {
    font-size: xx-large;
}

/* Styling the submit button to match the check word button */
.submit-btn {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    width: 100%;
    background: green;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background: darkgreen;
}

.submit-btn:active {
    transform: scale(0.97);
}
